@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  @apply font-serif
}
body {
  @apply bg-gray-950
}
.contentSize {
  @apply  w-full sm:w-4/5 sm:max-w-4xl mx-auto
}